.main {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  margin-top: 32px;
  align-items: center;
  justify-content: center;
}

.tooltip {
  background-color: black;
  border-radius: 4px;
  padding: 8px;
  color: white;
}

@media (prefers-color-scheme: dark) {
  .tooltip {
    background-color: white;
    color: black;
  }
}

.tooltip ul {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

.calendar {
  height: 250px;
  width: 370px;
}

.pie {
  height: 250px;
  width: 370px;
}

.heatmap {
  height: 350px;
  width: 370px;
}

@media (min-width: 515px) {
  .calendar {
    height: 350px;
    width: 700px;
  }
  .pie {
    height: 450px;
    width: 700px;
  }
  .heatmap {
    height: 350px;
    width: 700px;
  }
}

.header {
  display: flex;
  justify-content: space-between;
  padding: 16px 0;
}
.label {
  display: flex;
  justify-content: center;
  align-items: center;
}
.slider {
  appearance: none;
  width: 64px;
  height: 32px;
  border-radius: 32px;
  background-color: #e0e3ca;
  transition: 0.25s;
}
.slider::after {
  background-color: #fa7d29;
  height: 32px;
  width: 32px;
  display: inline-block;
  border-radius: 50%;
  content: "";
  transition: 0.25s;
}
.slider:checked {
  background-color: #e0d39a;
}
.slider:checked::after {
  background-color: #0f2b3f;
  transform: translateX(100%);
}
